/*
 * Estilos de tu proyecto
 */


header, #portfolio, #about, #contact, #gallery{
	text-align: center;
	padding: 50px;
}

h2{
	font-size: 30px;
	font-weight: 800;
}

 /*Menu*/
 nav {
	width: 100%;
	padding: 20px;
	background-color: #2c3e50;
	color: #fff;
	font-weight: 700;
	position: fixed;
	z-index: 1000;
 }
 nav h3{
 	float: left;
 	margin-top: 10px;
 	margin-left: 100px;
 	font-size: 30px;
 }
nav ul {
	float: right;
	margin-top: 20px;
	margin-right: 50px;
}
nav ul li{
	display: inline-block;
}
nav ul li a {
	text-decoration: none;
	padding: 15px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
}
nav ul li a:hover{
	color: #18bc9c;
}
/*HEADER*/
header {
	background-color:  #18bc9c;
	padding-top: 150px;
	padding-bottom: 100px;
	color: #fff;
	font-size: 20px;
}
header h1{
	margin: 20px 0px;
}
/*Portfolio*/
#portfolio{
	margin: 60px 0px;
	color: #2c3e50;
}
.portfolio-info{
	cursor: pointer;
	position: relative;
}

/*About*/
#about{
	background-color: #18bc9c;
	color: #fff;
	padding: 100px;
}
.text{
	text-align: left;
	padding: 0 100px;
	font-size: 20px;
}
.btn-about {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 15px 20px;
	border: 2px solid #fff;
	border-radius: 10px;
	font-size: 17px;
	color: #fff;
	cursor: pointer;
}
.btn-about i{
	font-size: 20px;
	margin-right: 5px;
}
.btn-about:hover {
	background-color: #fff;
	color: #18bc9c;
}

/*Contact*/
#contact{
	color: #2c3e50;
}
.about-form{
	text-align: center;
}
.about-form input {
	width: 70%;
	border: none;
	height: 80px;
	border-top: 1.5px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
}

.about-form input::placeholder{
	font-size: 20px;
	color: #C6C3C7;
}
.btn-contact{
	margin-left: 200px;
	float: left;
	background-color: #18bc9c;
	padding: 15px;
	border: none;
	border-radius: 7px;
	font-size: 17px;
	color: #fff;
	cursor: pointer;
}
.btn-contact:hover{
	background-color: #13947B;
}

/*Footer*/
.first-footer{
	background-color: #2c3e50;
	padding: 50px;
	text-align: center;
	color: #fff;
	font-size: 18px;
}
.first-footer h4{
	margin-bottom: 40px;
	font-size: 23px;
}

.first-footer a{
	text-decoration: none;
	color: #18bc9c;
}
.first-footer a:hover{
	text-decoration: underline;
}
.second-footer{
	background-color: #233140;
	text-align: center;
	color: #fff;
	font-size: 14px;
}

.first-footer ul li{
	list-style: none;
	display: inline-block;
	margin: 0 7px;
}

.first-footer i{
	font-size: 20px;
	text-align: center;
	border: 2px solid #fff;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	padding-top: 14px;
}

.first-footer i:hover{
	color: #18bc9c;
	background-color: #fff;
}


/*SCROLL MENU*/
.scroll-menu{
	padding: 10px;
}
.scroll-menu h3{
	font-size: 25px;
}
.scroll-menu .menu{
	margin-top: 10px;
}

.menu-scroll-hover{
	background-color: #18bc9c;
}

/*Galeria*/
#gallery{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	display: none;
	z-index: 1000;
	overflow-x: hidden;
	min-height: 100%;
    padding: 70px 0;

}

#gallery img {
	width: 40%;
}
#gallery h2{
	color: #2c3e50;
}
.paragraph{
	text-align: center;
	margin: 0 auto;
	width: 50%;
	font-size: 20px;
	color: #4A4746;
}
.paragraph a {
	text-decoration: none;
	 color: #18bc9c;
}
.paragraph-gallery .fa-times{
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
  margin-left: 250px;
  color: #4A4746;
}
.links{
	display: inline-block;
	margin: 40px 10px;
	color: #4A4746;
}
.links a {
	text-decoration: none;
	color: #18bc9c;
}

#gallery button{
	padding: 10px;
	border: none;
	border: 1px solid #4A4746;
	border-radius: 5px;
}
#gallery button i{
	margin-right: 10px;
}
/*GALLLERY HOVER*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-left: 12px;
  margin-top: 10px;
  width: 95%;
  height: 93%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(24, 188, 156, 0.8);
}

.portfolio-info:hover .overlay {
  opacity: 1;
}

.textOver .fa-search-plus {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}