/*
 * Estilos de tu proyecto
 */


header, #portfolio, #about, #contact {
	text-align: center;
	padding: 50px;
}

h2{
	font-size: 30px;
	font-weight: 800;
}

 /*Menu*/
 nav {
	width: 100%;
	padding: 20px;
	background-color: #2c3e50;
	color: #fff;
	font-weight: 700;
	position: fixed;
	z-index: 1000;
 }
 nav h3{
 	float: left;
 	margin-top: 10px;
 	margin-left: 100px;
 	font-size: 30px;
 }
nav ul {
	float: right;
	margin-top: 20px;
	margin-right: 50px;
}
nav ul li{
	display: inline-block;
}
nav ul li a {
	text-decoration: none;
	padding: 15px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
}
nav ul li a:hover{
	color: #18bc9c;
}
/*HEADER*/
header {
	background-color:  #18bc9c;
	padding-top: 150px;
	padding-bottom: 100px;
	color: #fff;
	font-size: 20px;
}
header h1{
	margin: 20px 0px;
}
/*Portfolio*/
#portfolio{
	margin: 60px 0px;
	color: #2c3e50;
}

/*About*/
#about{
	background-color: #18bc9c;
	color: #fff;
	padding: 100px;
}
.text{
	text-align: left;
	padding: 0 100px;
	font-size: 20px;
}
.btn-about {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 15px 20px;
	border: 2px solid #fff;
	border-radius: 10px;
	font-size: 17px;
	color: #fff;
	cursor: pointer;
}
.btn-about i{
	font-size: 20px;
	margin-right: 5px;
}
.btn-about:hover {
	background-color: #fff;
	color: #18bc9c;
}

/*Contact*/
#contact{
	color: #2c3e50;
}
.about-form{
	text-align: center;
}
.about-form input {
	width: 70%;
	border: none;
	height: 80px;
	border-top: 1.5px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
}

.about-form input::placeholder{
	font-size: 20px;
	color: #C6C3C7;
}
.btn-contact{
	margin-left: 200px;
	float: left;
	background-color: #18bc9c;
	padding: 15px;
	border: none;
	border-radius: 7px;
	font-size: 17px;
	color: #fff;
	cursor: pointer;
}
.btn-contact:hover{
	background-color: #13947B;
}

/*Footer*/
.first-footer{
	background-color: #2c3e50;
	padding: 50px;
	text-align: center;
	color: #fff;
	font-size: 18px;
}
.first-footer h4{
	margin-bottom: 40px;
	font-size: 23px;
}

.first-footer a{
	text-decoration: none;
	color: #18bc9c;
}
.first-footer a:hover{
	text-decoration: underline;
}
.second-footer{
	background-color: #233140;
	text-align: center;
	color: #fff;
	font-size: 14px;
}

.first-footer ul li{
	list-style: none;
	display: inline-block;
	margin: 0 7px;
}

.first-footer i{
	font-size: 20px;
	text-align: center;
	border: 2px solid #fff;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	padding-top: 14px;
}

.first-footer i:hover{
	color: #18bc9c;
	background-color: #fff;
}


/*SCROLL MENU*/
.scroll-menu{
	padding: 10px;
}
.scroll-menu h3{
	font-size: 25px;
}
.scroll-menu .menu{
	margin-top: 10px;
}

.portfolio-scroll{
	background-color: grey;
}